@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Onest:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Moonrocks&display=swap");

:root {
  --body-color: #f1f1f6;
  --main-color: #f4f5fa;
  --font-color: #171435;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
}

.main {
  width: 1308px;
  height: 839px;
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1007px;
  height: 676px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.container .header {
  width: 713px;
  height: 158px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .header h1 {
  color: var(--font-color);
  font-family: "Merriweather", serif;
  font-size: 2rem;
  margin: 0px 0px 24px 0px;
  text-align: center;
  font-weight: 900;
  width: 550px;
}

.container .header h4 {
  color: var(--font-color);
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.main .container .section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1007px;
  height: 350px;
  position: relative;
  margin: 56px 0px;
}

.main .container .section .subs-ice {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 309px;
  height: 350px;
  margin-right: 40px;
  padding: 40px;
  position: relative;
}

.main .container .section .subs-ice .color-chart {
  content: "";
  width: 285px;
  height: 326px;
  background-color: #fffbec;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  left: 20px;
}

.main .container .section .subs-ice .subs-info,
.main .container .section .subs-telia .subs-info,
.main .container .section .subs-telenor .subs-info {
  width: 285px;
  height: 326px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  position: absolute;
}

.main .container .section .subs-telia {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 309px;
  height: 350px;
  margin-right: 40px;
  padding: 40px;
  position: relative;
}

.main .container .section .subs-telia .color-chart {
  content: "";
  width: 285px;
  height: 326px;
  background-color: #f9ecff;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  left: 20px;
}

.main .container .section .subs-telenor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 309px;
  height: 350px;
  padding: 40px;
  position: relative;
}

.main .container .section .subs-telenor .color-chart {
  content: "";
  width: 285px;
  height: 326px;
  background-color: #eceeff;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  left: 20px;
}

.main .container .section .subs-ice .subs-info button,
.main .container .section .subs-telia .subs-info button,
.main .container .section .subs-telenor .subs-info button {
  width: 185px;
  height: 56px;
  border-radius: 40px;
  font-family: inherit;
  color: var(--font-color);
  font-weight: 600;
  border: 1px solid var(--body-color);
  background-color: #f4f5fa;
  box-shadow: 0px 4px 0px 1px rgba(225, 214, 235, 0.75);
  margin-top: 40px;
  cursor: pointer;
}

.main .container .section .subs-ice .subs-info button:hover,
.main .container .section .subs-telia .subs-info button:hover,
.main .container .section .subs-telenor .subs-info button:hover{
  transform: scale(1.1);
}

.main .container .section .subs-ice .subs-info p,
.main .container .section .subs-telia .subs-info p,
.main .container .section .subs-telenor .subs-info p {
  color: var(--font-color);
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0px;
}

.main .container .section .subs-ice .subs-info .font-size,
.main .container .section .subs-telia .subs-info .font-size,
.main .container .section .subs-telenor .subs-info .font-size {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 4px 0px 16px 0px;
}

.main .container .section .subs-ice .subs-info p:nth-child(2),
.main .container .section .subs-telia .subs-info p:nth-child(2),
.main .container .section .subs-telenor .subs-info p:nth-child(2) {
  margin-top: 16px;
}

.main .container .section .subs-ice .subs-info .number,
.main .container .section .subs-telia .subs-info .number,
.main .container .section .subs-telenor .subs-info .number {
  font-size: 1.5rem;
  font-weight: 700;
}

.main .container .section .subs-ice .subs-info span,
.main .container .section .subs-telia .subs-info span,
.main .container .section .subs-telenor .subs-info span {
  font-size: 1rem;
  font-weight: 500;
}

.footer button {
  width: 212px;
  height: 56px;
  font-family: inherit;
  border-radius: 40px;
  color: #fff;
  background-color: var(--font-color);
  cursor: pointer;
}

.footer button:hover{
  transform: scale(1.1);
}

@media screen and (max-width: 1950px) {
  body {
    height: 700px;
    align-items: center;
  }
  .main {
    height: 650px;
    
  }

  .container .header h4 {
    margin-bottom: 5px;
    font-size: 1rem;
  }

  .container .header h1 {
    font-size: 1.2rem;
  }

  .main .container .section {
    height: 350px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .container .header {
    height: 200px;
  }
  .footer button {
    margin-top: -20px;
  }
}

@media screen and (max-width: 1310px) {
  body {
    width: 390;
    height: 1200px;
  }
  .main {
    width: 390px;
    height: 1200px;
    align-items: flex-start;
  }

  .container .header {
    width: 390px;
    height: 800px;
    flex-direction: column;
  }

  .container .header h1 {
    width: 390px;
    font-size: 1.2rem;
    margin-top: 50px;
  }

  .container .header h4 {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  .main .container .section {
    width: 390px;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    margin-bottom: 0px;
  }

  .main .container .section .subs-ice,
  .main .container .section .subs-telia,
  .main .container .section .subs-telenor {
    width: 309px;
    height: 280px;
    align-items: flex-start;
    padding: 0;
    left: 30px;
  }

  .main .container .section .subs-ice .color-chart {
    top: -20px;
    left: -20px;
    height: 250px;
  }

  .main .container .section .subs-telia .color-chart {
    top: -12px;
    left: -20px;
    height: 250px;
  }

  .main .container .section .subs-telia .subs-info {
    top: 8px;
    left: 0px;
    height: 250px;
    padding-top: 20px;
  }

  .main .container .section .subs-telenor .subs-info {
    top: 23px;
    left: -17px;
    height: 250px;
    padding-top: 20px;
  }

  .main .container .section .subs-telenor .color-chart {
    top: 2px;
    left: -38px;
    height: 250px;
  }

  .main .container .section .subs-ice .subs-info {
    height: 250px;
    padding-top: 20px;
  }

  .main .container .section .subs-ice .subs-info button,
  .main .container .section .subs-telia .subs-info button,
  .main .container .section .subs-telenor .subs-info button {
    width: 150px;
    height: 40px;
    margin-top: 10px;
  }

  .footer button {
    margin-top: 30px;
  }
}


